notebooks/ARSpectogramVisualization.ipynb
data/processed/logreg_predictions_*.csv
data/processed/logreg_predictions_*.csv

# OS / редакторы
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
.venv
venv/
.env*/
.ipynb_checkpoints/

# Jupyter notebooks (по выбору)
notebooks/ARSpectogramVisualization.ipynb

# Данные / артефакты
data/interim/
data/processed/logreg_predictions_*.csv

# Логи
logs/
*.log
