notebooks/ARSpectogramVisualization.ipynb
data/processed/logreg_predictions_*.csv
data/processed/logreg_predictions_*.csv

.DS_Store
Thumbs.db
*.swp
*.swo
*.bak

__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
.venv
venv/
.env*/
.ipynb_checkpoints/

notebooks/ARSpectogramVisualization.ipynb

data/interim/
data/processed/logreg_predictions_*.csv

logs/
*.log
